<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Log in</h1>

    <form [formGroup]="formGroup" (submit)="authenticate()">
      @if (authenticationFailed()) {
        <pr-alert [type]="'danger'" [dismissible]="false">Nope, try again</pr-alert>
      }

      <div class="mb-3" prFormLabelValidation>
        <label prFormLabel for="login" class="form-label"></label>
        <input type="text" id="login" formControlName="login" class="form-control" />
        @if (formGroup.controls.login.dirty && formGroup.controls.login.hasError('required')) {
          <div class="invalid-feedback">Login is required</div>
        }
      </div>

      <div class="mb-3" prFormLabelValidation>
        <label prFormLabel for="password" class="form-label"></label>
        <input type="password" id="password" formControlName="password" class="form-control" />
        @if (formGroup.controls.password.dirty && formGroup.controls.password.hasError('required')) {
          <div class="invalid-feedback">Password is required</div>
        }
      </div>

      <button type="submit" [disabled]="formGroup.invalid" class="btn btn-primary">Log me in!</button>
    </form>
  </div>
</div>
